In [45]:
import os
import pandas as pd

os.listdir("dataset/BanglaAbuseMeme/")

['Images', 'readme.txt', 'BanglaAbuseMeme_annotation.csv']

In [46]:
abuse_meme_df = pd.read_csv('dataset/BanglaAbuseMeme/BanglaAbuseMeme_annotation.csv')

In [47]:
abuse_meme_df.head()

           Ids sentiment sarcasm      vulgar        abuse     target
0  image_1.jpg  Negative     Yes  Not Vulgar      Abusive  Political
1  image_2.jpg  Negative     Yes      Vulgar  Non-abusive        NaN
2  image_3.jpg   Neutral     Yes  Not Vulgar  Non-abusive  Political
3  image_4.jpg   Neutral      No      Vulgar  Non-abusive  Political
4  image_5.jpg  Negative     Yes  Not Vulgar  Non-abusive  Political

In [48]:
abuse_meme_df.nunique()

Ids          4043
sentiment       3
sarcasm         2
vulgar          2
abuse           2
target         26
dtype: int64

In [18]:
mute_df = pd.read_excel("dataset/MUTE/train_hate.xlsx")

In [19]:
mute_df.head()

,image_name,Captions,Label
0,direct-offense (76).jpg,যখন কোন মেয়ে আমার ডিপি তে লাভ রিয়েক্ট দেয় আমি-,not-hate
1,KAM (427).jpg,বিয়ের আগে মা এগুলো কি রান্না করছ একটুও স্বাদ হ...,not-hate
2,ovodro_img (486).jpg,চিকচিক করে বালি কোথাও নাই কাঁদা মুখ খানা সাদা ...,hate
3,KAM (225).jpg,বাংলাদেশের বিরুদ্ধে লড়তে প্রস্তুত মিয়ানমার! আ...,not-hate
4,ovodro_img (614).jpg,যখন তুমি সবে মাত্র Bathroom থেকে বেরিয়েছো আর ...,not-hate

In [20]:
mute_df.nunique()

image_name    3365
Captions      3347
Label            2
dtype: int64

In [21]:
memosen = pd.read_excel("dataset/MemoSen/Dataset/multi-sent.xlsx")

In [22]:
memosen.head()

,image_name,Captions,Label_Sentiment
0,tangaila (1).jpg,"আম্মাঃ HSC চলে আসছে , এখন থেকে তোর মোবাইল , ল্...",positive
1,tangaila (2).jpg,WHEN YOUR COUSINS TAKES YOU TO THE DHAN KHET A...,negative
2,tangaila (3).jpg,WHEN HE SAID 10 MINUTES BUT IT WAS ONLY 2 MINUTES,negative
3,tangaila (4).jpg,SHE - I CAN'T BE WITH YOU -তবে শেষবারের মত দ...,negative
4,tangaila (5).jpg,"যখন কোন Teacher বলে ""সত্যটা বলো, তাহলে আর কি...",negative

In [25]:
memosen['Label_Sentiment'].unique()

array(['positive', 'negative', 'neutral'], dtype=object)

In [27]:
# vqa_e_df = pd.read_csv("dataset/") #dataset/VQA-E_train_set.json
import json 


with open("dataset/VQA-E_train_set.json", 'r') as file:
    data = json.load(file)

In [33]:
vqae_df = pd.DataFrame(data)

In [35]:
vqae_df.head()

,answer_type,explanation,question,multiple_choice_answer,answers,question_type,img_id
0,other,[Closeup of bins of food that include broccoli...,What is the green stuff?,broccoli,"[broccoli, broccoli, broccoli, broccoli, brocc...",what is the,9
1,other,"[Two giraffes standing in a tree filled area.,...",What is in front of the giraffes?,tree,"[tree, tree, tree, tree, tree, tree, tree, tre...",what is,25
2,other,[A giraffe eating food from the top of the tre...,What do these giraffes have in common?,eating,"[height, long neck, spots, they are tall, eati...",what,25
3,yes/no,[A giraffe eating food from the top of the tre...,Are the animals eating?,yes,"[yes, yes, yes, yes, yes, yes, yes, yes, yes, ...",are the,25
4,other,[A giraffe eating food from the top of the tre...,Where is the giraffe?,near tree,"[by tree, africa, by tree, near tree, zoo, nea...",where is the,25

In [36]:
vqae_df['answer_type'].unique()

array(['other', 'yes/no', 'number'], dtype=object)

In [44]:
vqae_df.loc[0,'explanation']

['Closeup of bins of food that include broccoli and bread.',
 0.6791202865162379]